<header class="navbar nabar-fixed-top navbar-inverse">
        <div class="container">
           <%= link_to "MemoApp", root_path, id: 'logo' %>
           <nav>
              <ul class="nav navbar-nav navbar-right">
                 <li><%= link_to "New Post", new_post_path %></a></li>
                 <li><%= link_to "Help", help_path %></li>
                 <li><%= link_to "About", about_path %></li>
              </ul>
           </nav>
        </div>
</header>